@import "vars";

:root {
  // --color-bg: rgba(255, 247, 240, 1);
  --color-bg: rgb(250, 229, 210);
  --color-card-bg: rgba(250, 250, 250, 0.8);
  --color-header-bg: white;
  --color-text: black;
  --color-text-2: #222222;
  --color-text-light: white;
  --color-text-light-2: rgba(255, 255, 255, 0.9);
  --color-link: #0f4c81;
  // --color-hover: rgba(120, 120, 120, 0.9);
  --color-hover: rgba(79, 79, 79, 0.9);
  --color-border: rgba(120, 120, 120, 1);
  --color-border-dark: black;
  --color-border-light: white;
  --color-header-border: black;
  --color-boxshadow: rgba(100, 100, 100, 1);
  --color-boxshadow-dark: rgba(70, 70, 70, 1);
  --color-extra: #ffecbc;
  // --color-extra-2: #fcb279;
  --color-extra-2: #fc7b79;
  --color-footer-bg: rgba(250, 250, 250, 0.8);
  --color-code-bg: rgba(100, 100, 100, 1);
  --color-table-bg: rgba(200, 200, 200);
  --color-blockquote: #999999;
  --color-twitter: rgb(29, 161, 242);
  --color-link-bg: rgb(200, 200, 200, 0.25);

  --max-post-width: 745px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1;
  font-family: $sans-serif;
  box-sizing: border-box;
  background: var(--color-bg);
  display: flex;
  flex-flow: column nowrap;
}
* {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: initial;
}

@import "mixins";
@import "typography";
@import "flex";
@import "spacing";
@import "header";
@import "navigation";
@import "list-header";
@import "main";
@import "pagination";
@import "li";
@import "list";
@import "summary";
@import "featured-posts";
@import "single";
@import "footer";
@import "button";
@import "404";

.card-form {
  width: 500px;
  // border-radius: 10px;
  background: white;
  box-shadow: 5px 5px 5px 5px var(--color-boxshadow);

  .form-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 20px;
    background: var(--color-footer-bg);
  }

  .form-body {
    padding: 10px;

    .row {
      display: flex;
      justify-content: space-around;
      padding: 10px;

      input[name="name"] {
        appearance: none;
        width: 100%;
        margin: 0 15px;
        height: 35px;
        padding: 5px 15px;
        // border-radius: 5px;
        outline: none;
        border: none;
        background: #e8ebed;
        color: #576366;
        font-size: 14px;
      }
      input[name="email"] {
        appearance: none;
        width: 100%;
        margin: 0 15px;
        height: 35px;
        padding: 5px 15px;
        // border-radius: 5px;
        outline: none;
        border: none;
        background: #e8ebed;
        color: #576366;
        font-size: 14px;
      }
      input[name="message"] {
        appearance: none;
        width: 100%;
        margin: 0 15px;
        height: 70px;
        padding: 5px 15px;
        // border-radius: 5px;
        outline: none;
        border: none;
        background: #e8ebed;
        color: #576366;
        font-size: 14px;
      }
    }
  }

  .rule {
    height: 2px;
    background: #e8ebed;
    margin: 0px 35px;
  }

  .form-footer {
    margin: 0 25px 15px 25px;
    padding: 15px 10px;

    button {
      display: inline-block;
      height: 40px;
      // line-height: 40px;
      border: none;
      // border-radius: 5px;
      padding: 5px 15px;
      background: var(--color-code-bg);
      margin-right: 10px;
      font-size: 16px;
      font-weight: bold;
      color: white;
      box-shadow: 1px 1px 1px 1px var(--color-boxshadow);
    }

    span {
      margin-left: 8px;
    }
  }
}
